rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to read and create their own document.
      allow read, create: if request.auth != null && request.auth.uid == userId;

      // Disallow update and delete from the client for security.
      allow update, delete: if false;
    }
  }
}